.b-header 
    background url(../img/header-bg.jpg) repeat;
    height b-header-height = 194px;
    box-shadow 0 1px 20px #cecece;

    .container
        padding-left 1.875rem;
    
    &__logo
        padding 22px 0 0;
        margin 0 2.3rem 0 0;
        float left;
        
        &-image
            display: inline-block;
            vertical-align middle;
            margin: 0 20px 0 0;

        &-heading
            display: inline-block;
            vertical-align middle;
            font-size 1.25rem;
            color #494438;
            line-height 1.4;

            &--bold
                color colors['pink'];
                font-family font-dindisplay-medium;

    &__phones
        padding 22px 0 0;
        width 21.25rem;
        height: b-header-height;
        box-sizing border-box;
        float right;
        background colors['white'];
        text-align center;

        &-heading 
            font-size: 1.06rem;
            color #3a3a3a;
            margin: 0 0 15px;

        &-item
            color colors['pink'];
            font-size 1.87rem;
            margin: 7px 0;

        &-button
            background colors['pink'];
            margin 12px 0 0;
            padding 7px 20px;
            color colors['white'];
            border-bottom 1px solid #c13d56;

    &__links
        padding 28px 0 0;
        display inline-block;
        vertical-align middle;

        &-item
            background url(../img/social-networks.png) no-repeat;
            width 33px;
            height 35px;
            display block;
            margin 0 0 4px;

            &--vk
                background-position 0 -37px;

            &--instagram
                background-position 0 -78px;