.b-order-form
    color colors['white'];

    &__wrapper 
        padding 0 18px;

    &__heading
        padding 30px 0 20px;
        text-align center;
        font-size 1.68rem;
        text-shadow -1px -1px 2px #cc5d5c;

        &--bg
            margin 0 0 20px;
            background rgba(#5b303a, 0.15); 

    &__notice
        margin 8px 0 0;
        font-size 0.93em;

    &__input-text
        width 100%;

        & + &
            margin-top 15px;

    &__button
        width 100%;

    &__text
        font-size 0.81rem;