.b-our-advantages
    
    .container
        padding 40px 0;
        text-align center;

    &__item
        reset-box-model();
        display inline-block;
        text-transform uppercase;

        & + & 
            margin-left 3rem;

        &-heading
            font-family font-dindisplay;
            margin 10px 0;
            color #505050;

            &:before 
                content '';
                display block;
                margin 0 auto 10px;
                border-top 1px solid #fa706e;
                width 100px;

        &-text
            font-size 0.81rem;
            color #999999;
            line-height 1.3;