.b-product 
    background url(../img/product-bg.jpg) repeat;
    height b-product-height = 382px;
    
    .container
        padding-left 30px;

    &__order-form
        float right;
        width 21.25rem;
        height b-product-height;
        background url(../img/order-form-bg.jpg) repeat;
        box-sizing border-box;

    &__image
        margin 28px 0 0;