.b-quotes
    background url(../img/quotes-bg.png) repeat;
    font-family font-gabriola;
    text-align center;
    overflow hidden;

    .container
        
        height 272px;
        padding-top 2.75rem;
        background url(../img/quotes-container-bg.png) no-repeat 100% 18px;

    &__text
        position relative;
        display inline-block;
        max-width 650px;
        font-size 2rem;
        color colors['red'];
        line-height 0.95;

        &:before
            content '';
            display block;
            position absolute;
            top 25px;
            background url(../img/quotes-arrows.png) no-repeat;
            height 67px;
            width 69px;
            left -100px;

        &:after 
            content '';
            display block;
            position absolute;
            top 25px;
            background url(../img/quotes-arrows.png) no-repeat -134px 0;
            height 67px;
            width 69px;
            right -100px;

    &__heading
        font-size 2.06rem;
        margin 0 0 1.5rem;
    
    /*.bx-wrapper
        position relative;

        .bx-controls-direction
            
            a
                display block;
                position absolute;
                top 25px;
                text-indent -99999px;
                background url(../img/quotes-slider-arrows.png) no-repeat;
                height 67px;
                width 69px;

            .bx-next
                right -80px;
                background-position -134px 0;
                
            .bx-prev
                left -80px;
                background-position 0 0;*/