@font-face
    font-family 'Gabriola';
    src url('../fonts/gabriola.eot');
    src url('../fonts/gabriola.woff') format('woff'), 
        url('../fonts/gabriola.ttf') format('truetype');
    font-weight normal;
    font-style normal;
//url('../fonts/gabriola.svg#Gabriola') format('svg'), 

@font-face
    font-family: "PFDinDisplayPro-Regular";
    src: url('../fonts/PFDinDisplayPro-Reg.eot');
    src: url('../fonts/PFDinDisplayPro-Reg.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PFDinDisplayPro-Reg.woff') format('woff'),
         url('../fonts/PFDinDisplayPro-Reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
//url('../fonts/PFDinDisplayPro-Reg.svg#PF DinDisplay Pro') format('svg'),

@font-face
    font-family: "PFDinDisplayPro-Light";
    src: url('../fonts/PFDinDisplayPro-Light.eot');
    src: url('../fonts/PFDinDisplayPro-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PFDinDisplayPro-Light.woff') format('woff'),
         url('../fonts/PFDinDisplayPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
//url('../fonts/PFDinDisplayPro-Light.svg#PF DinDisplay Pro') format('svg'),

@font-face
    font-family: "PFDinDisplayPro-Bold";
    src: url('../fonts/PFDinDisplayPro-Bold.eot');
    src: url('../fonts/PFDinDisplayPro-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PFDinDisplayPro-Bold.woff') format('woff'),
         url('../fonts/PFDinDisplayPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
//url('../fonts/PFDinDisplayPro-Bold.svg#PF DinDisplay Pro') format('svg'),

@font-face
    font-family: "PFDinDisplayPro-Medium";
    src: url('../fonts/PFDinDisplayPro-Med.eot');
    src: url('../fonts/PFDinDisplayPro-Med.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PFDinDisplayPro-Med.woff') format('woff'),
         url('../fonts/PFDinDisplayPro-Med.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
//url('../fonts/PFDinDisplayPro-Med.svg#PF DinDisplay Pro') format('svg'),

font-arial             = Arial, sans-serif;
font-dindisplay        = 'PFDinDisplayPro-Regular', sans-serif;
font-dindisplay-medium = 'PFDinDisplayPro-Medium', sans-serif;
font-dindisplay-light  = 'PFDinDisplayPro-Light', sans-serif;
font-dindisplay-bold   = 'PFDinDisplayPro-Bold', sans-serif;
font-gabriola          = 'Gabriola', sans-serif;