colors = {
    white: #fff,
    pink: #fa706e,
    yellow: #ffd56d,
    red: #dd373b
}

@import 'nib';

global-reset();

@require 'fonts.styl';
@require 'base.styl';
@require 'blocks/*.styl';